.burger{
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    text-align: center;
    font-weight: bold;
    height: max-content;
    padding: 4.5rem 0;
    position: relative;
}

.topBread, .bottomBread{
    position: absolute;
    z-index: -1;
}
.topBread{
    top: 40px;
}
.bottomBread{
    bottom: 40px;
}
.fakediv{
    height: 45px;
}

.burger::-webkit-scrollbar{
    display: none;
}
.burger {
    -ms-overflow-style: none;
    scrollbar-width: none;
}